<!--
/*
 * File Name: partials/footer.ejs
 * Author's Name: Fei Wang
 * Website Name: My PortFolio
 * http://myportfolioexpress.azurewebsites.net/
 * Description: This is the generic footer part for pages
 */
-->

<!-- Footer part for social media links-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12 text-center">
                    <p>&copy; 2015 Fei Wang</p>
                </div>
                <div class="col-md-6 col-xs-12 text-center">
                    <ul class="social-links">
                        <li>
                            <a title="Github Profile" href="https://github.com/kingnot"><i class="fa fa-github-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a title="Twitter profile" href="https://twitter.com/kingnotwang"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a title="Linkedin Profile" href="https://ca.linkedin.com/pub/fei-wang/25/46a/b7"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a title="Facebook profile" href="https://www.facebook.com/fei.wang.399041"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a title="Google plus profile" href="https://plus.google.com/u/0/115658161379621489266/posts/p/pub"><i class="fa fa-google-plus-square fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Latest   jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- Latest compiled and minified   JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>