<!--
/*
 * File Name: about.ejs
 * Author's Name: Fei Wang
 * Website Name: My PortFolio
 * http://myportfolioexpress.azurewebsites.net/
 * Description: This is the about page html view file
 */
-->

<% include partials/header.ejs %>
<div class="container">
    <h1 class="blog-header"><%= title %></h1>
    <div class="blog-post">
        <h2 class="blog-post-title">KEY STRENGTHS</h2>
        <p>• Solid programming knowledge and application in Java, C#, PHP, jQuery, MEAN, SQL, SDLC, and IBM mainframe (z/OS)</p>
        <p>• Demonstrate strong interpersonal skill and problem solving ability</p>
        <p>• Keep excellent work relationship with colleagues in a team, group and company</p>
    </div>
    <div class="blog-post">
        <h2 class="blog-post-title">COURSES COVERED</h2>
        <p>Advanced Web Programming (MEAN)</br>Advanced Object Oriented Programming (Java)</br>Rapid Application Development (C#)</br>Advanced Database (IBM-DB2)</br>The Mainframe Environment (IBM-zOS)</p>
    </div>
    <div class="blog-post">
        <h2 class="blog-post-title">INTERESTS</h2>
        <p>• Web application development, iOS App development, Java applications, and game development.</p>
        <p>• IT field related news and information, such as 3D printing, drone, virtual reality, open source, etc.</p>
    </div>
</div>
<% include partials/footer.ejs %>