<!--
/*
 * File Name: index.ejs
 * Author's Name: Fei Wang
 * Website Name: My PortFolio
 * http://myportfolioexpress.azurewebsites.net/
 * Description: This is the home page html view file
 */
-->

<% include partials/header.ejs %>
<!-- Start HTML by bootstrap -->
<div class="cover">
    <h1 class="cover-heading">FEI WANG</h1>
    <p class="lead">Welcome to <%= message %></p>
    <p>Originally from China, I started my pursuit of becoming a computer programmer in Georgian College, Ontario, Canada.</p> 
    <p>With my enthusiasm and efforts, I believe I can write the code and change the world some day.</p>
</div>
<% include partials/footer.ejs %>
