<!--
/*
 * File Name: service.ejs
 * Author's Name: Fei Wang
 * Website Name: My PortFolio
 * http://myportfolioexpress.azurewebsites.net/
 * Description: This is the services page html view file
 */
-->

<% include partials/header.ejs %>
<div class="container">
    <h1><%= title %></h1>
    <h2>Provide following services base on my programming skills</h2>
    <p>Web Programming and Web Design</p>
    <p>Java Programming</p>
    <p>C# Programming</p>
    <p>Database Management</p>
    <h3>Please contact me if you are interested.</h3>
</div>
<% include partials/footer.ejs %>