<!--
/*
 * File Name: businesscontacts/edit.ejs
 * Author's Name: Fei Wang
 * Website Name: My PortFolio
 * http://myportfolioexpress.azurewebsites.net/
 * Description: This is the page where logged in user can edit business contacts
 */
-->

<% include ../partials/header.ejs %>
<main class="container">
    <h1>Edit a Business Contact</h1>
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="contactName">Contact Name: *</label>
                <input name="contactName" type="text" class="form-control" required value="<%= businesscontact.contactName %>"/>
            </fieldset>
            <fieldset class="form-group">
                <label for="phone">Contact Number: *</label>
                <input name="phone" type="tel" class="form-control" required value="<%= businesscontact.phone %>"/>
            </fieldset>
            <fieldset class="form-group">
                <label for="email">Email: *</label>
                <input name="email" type="email" class="form-control" required value="<%= businesscontact.email %>" autofocus />
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update</button>
                <a href="/businesscontacts/delete/<%= businesscontact._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
                <a href="/businesscontacts" title="Cancel"  class="btn btn-default">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>

</main>
<% include ../partials/footer.ejs %>
